name: release

on:
  push:
    tags: [ 'v*.*.*' ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}


jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          flavor: |
            latest=false
          labels: |
            name="Kubeslice Worker Operator"
            maintainer=AppsCode
            vendor=AppsCode
            version={{tag}}
            release={{tag}}
            summary=Manages the lifecycle of KubeSlice worker cluster-related crds
            description=Manages the lifecycle of KubeSlice worker cluster-related crds

      - name: "Build and push"
        uses: docker/build-push-action@v5
        with:
          file: Dockerfile
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Extract Docker metadata for UBI image
        id: ubi
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=semver,pattern={{version}}-ubi
          flavor: |
            latest=false
          labels: |
            name="Kubeslice Worker Operator"
            maintainer=AppsCode
            vendor=AppsCode
            version={{tag}}
            release={{tag}}
            summary=Manages the lifecycle of KubeSlice worker cluster-related crds
            description=Manages the lifecycle of KubeSlice worker cluster-related crds

      - name: "Build and push UBI image"
        uses: docker/build-push-action@v5
        with:
          file: Dockerfile.ubi
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.ubi.outputs.tags }}
          labels: ${{ steps.ubi.outputs.labels }}
